body
{
    margin:0;
    padding: 0;
}

.backround
{
width: 700px;
height: 400px;
border-radius: 25px;
border: 1px solid black;
margin: 0 auto;
margin-top: 10%;
background: linear-gradient(to bottom right, purple, rgb(140, 0, 140), rgb(170, 0, 170), rgb(192, 0, 192));
text-align: center;
}

h1,h2,p
{
color: white;
}

.enterGuess
{
    margin-top: 100px;
}

#Guess
{
font-size: 20px;
}

#input
{
display: block;
margin: 0 auto;
}

#button
{
display: block;
margin: 0 auto;
margin-top: 10px;
}